@charset "UTF-8";

/* Formatação da Div tv-radio */

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

/* Formatação do Áudio */

audio#musica {
    display: block;
    position: relative;
    top: 490px;
    left: 570px;
    width: 300px;
}

/* Formatação do Vídeo */

video#filme {
    display: block;
    position: relative;
    top: 65px;
    left: 90px;
    width: 440px;
}

